@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}



body {
  background: url(./assets/bgd.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: scroll;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

nav {
  z-index: 10;
}